@font-face {
    font-family: segoeui;
    src: url(../fonts/segoeui.ttf);
}
body
{
	/*border:solid;*/
	margin: 0;
	padding: 0;
	font-family: segoeui;
}
a
{
	text-decoration: none;
}
.header-body
{
	background-image: url(../images/s.png);
	padding-bottom: 0.5%;
	padding-top: 0.5%;
}
.logo
{
	display: inline-block;
	margin-left: 20%;
}
.logo img
{
	width: 150px;
}

.sign-in-up
{
	width:30%;
	display: inline-block;
	margin-right: 20%;
	float: right;
}
.sign-in-up img
{
	width: 20px;
}
.sign-in-up a
{
	cursor: pointer;
	color:black;
}
.sign-in,
.sign-up
{
	display: inline-block;
}
.sign-in
{
	margin-left: 20%;
}
.sign-in p,
.sign-in img,
.sign-up p,
.sign-up img
{
	display: inline-block;
}

.sign-in img,
.sign-up img
{
	vertical-align: text-bottom;
}
.sign-in p,
.sign-up p
{
	margin-left: 10px;
}




section
{

	width: 70%;
	margin: auto;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 119px;
	/*border:solid;*/
}
section > div >div
{
	/*border: solid;*/
	display: inline-block;
	text-align: left;
	width:30%;
}
.admin-login > h2,
.doc-ligin > h2,
.pait-login >h2
{
	color:#c81e51;
	font-size: 30px;
	margin-bottom: 10px;
}
.admin-login > p,
.doc-ligin > p,
.pait-login > p
{
	margin: 0;
	margin-bottom: 30px;
}
.doc-ligin > p > a,
.pait-login > p > a
{
	color: #c81e51;
	font-style: italic;
	text-decoration: underline;
	margin-left: 10px;
	font-size: 13px;
}
.admin-login button,
.doc-ligin button,
.pait-login button
{
	border-style: none;
	background-color: #c81e51;
	color:white;
	padding: 7px;
	cursor: pointer;
	border-radius: 3px;
	width:100px; 
}
.admin-login button:hover,
.doc-ligin button:hover,
.pait-login button:hover
{
	background-color: #a41d45;
	transform: translateY(0.5px);
}
.admin-login button:active,
.doc-ligin button:active,
.pait-login button:active
{
	background-color: #a41d45;
	transform: translateY(0.5px);
}
















footer
{
	/*border:solid red;*/
	background-color:#363636;
}

table p
{
	margin:0;
}
tr > td
{
	text-align: left;
	padding-bottom: 10px;
}
tr > td:nth-child(1)
{
	width:15%;
}

ul
{
	list-style: none;
	margin:0;
	padding: 5px;
}
ul li
{
	/*border:solid;*/
	text-align: left;
	width:29%;
	margin: auto;
	margin-bottom: 10px;
}
.about > h1
{
	text-decoration: underline;
	/*text-align: center;*/
	margin-left: 12%;
	font-size: 25px;
}
.about,
.search-speciality,
.search-by
{
	text-align: center;
	display: inline-block;
	width:25%;
	/*border:solid blue;*/
	color:white;
	font-size: 13px;
	vertical-align: middle;
}
.search-speciality a,
.search-by a
{
	text-decoration: none;
	color:white;
}
.about
{
	text-align: left;
	width:37%;
	margin-left: 7%;
}
.search-speciality h1,
.search-by h1
{
	text-decoration: underline;
	font-size: 20px;
}